[Desktop Entry]
Encoding=UTF-8
Name=Acrobat Reader
Name[pl]=Acrobat Reader
MimeType=application/pdf
Comment=pdf file viewer
Comment[pl]=Przeglądarka plików pdf
Icon=acroread.png
Exec=acroread %F
Terminal=false
Type=Application
Categories=Graphics;Viewer;
# vi: encoding=utf-8
