[Desktop Entry]
Encoding=UTF-8
Name=Acrobat Reader
Name[pl]=Acrobat Reader
Comment=pdf file viewer
Comment[pl]=Przeglądarka plików pdf
Icon=acroread.png
Exec=acroread
Terminal=false
Type=Application
Categories=Graphics;Viewer;
# vi: encoding=utf-8
