[Desktop Entry]
Encoding=UTF-8
Name=Acrobat Reader
Name[pl]=Acrobat Reader
Comment=Acrobat Reader
Comment[pl]=Przegladarka plikow pdf
Icon=acroread.png
Exec=acroread
Terminal=false
Type=Application
Categories=Graphics;X-Viewer
# vi: encoding=utf-8
